<script setup>

import {reactive, ref, shallowRef, watch} from "vue";
import {listen} from "@tauri-apps/api/event";
import {guard} from "../lib/utils.js";

import {basicSetup} from "codemirror";
import {StateEffect, StateField, RangeSet} from "@codemirror/state";
import {Decoration, EditorView, GutterMarker, gutter} from "@codemirror/view";
import { Codemirror } from 'vue-codemirror'
import {StreamLanguage} from "@codemirror/language"
import {gasArm} from "@codemirror/legacy-modes/mode/gas"
import {githubLight} from "@ddietr/codemirror-themes/github-light.js";
import {invoke} from "@tauri-apps/api/tauri";

const view = shallowRef()
let breakpoints = reactive({
  data : new Set()
})

const props = defineProps({
  code: String,
  pid: String,
  markers: Object
})

let previous_marker = null
let markers = props.markers
let code = ref(props.code);

const handleReady = (payload) => {

  view.value = payload.view

}

const addMarks = StateEffect.define(), filterMarks = StateEffect.define()

function removeMarks(a, b) {
  view.value.dispatch({
    effects: filterMarks.of((from, to) => to <= a || from >= b)
  })
}

const strikeMark = Decoration.mark({
  attributes: {
    class : "active-line"
  }
})

const markField = StateField.define({
  // Start with an empty set of decorations
  create() { return Decoration.none },
  // This is called whenever the editor updates—it computes the new set
  update(value, tr) {
    // Move the decorations to account for document changes
    value = value.map(tr.changes)
    // If this transaction adds or removes decorations, apply those changes
    for (let effect of tr.effects) {
      if (effect.is(addMarks)) value = value.update({add: effect.value, sort: true})
      else if (effect.is(filterMarks)) value = value.update({filter: effect.value})
    }
    return value
  },
  // Indicate that this field provides a set of decorations
  provide: f => EditorView.decorations.from(f)
})

const breakpointEffect = StateEffect.define({
  map: (val, mapping) => ({pos: mapping.mapPos(val.pos), on: val.on})
})

const breakpointMarker = new class extends GutterMarker {
  toDOM() { return document.createTextNode("🔴") }
}


const breakpointState = StateField.define({
  create() { return RangeSet.empty },
  update(set, transaction) {
    set = set.map(transaction.changes)
    for (let e of transaction.effects) {
      if (e.is(breakpointEffect)) {
        if (e.value.on)
          set = set.update({add: [breakpointMarker.range(e.value.pos)]})
        else
          set = set.update({filter: from => from != e.value.pos})
      }
    }
    return set
  }
})

function toggleBreakpoint(view, pos) {
  let breakpoints = view.state.field(breakpointState)
  let hasBreakpoint = false
  breakpoints.between(pos, pos, () => {hasBreakpoint = true})
  view.dispatch({
    effects: breakpointEffect.of({pos, on: !hasBreakpoint})
  })
}


const breakpointGutter = [
  breakpointState,
  gutter({
    class: "cm-breakpoint-gutter",
    markers: v => v.state.field(breakpointState),
    initialSpacer: () => breakpointMarker,
    domEventHandlers: {
      mousedown(view, line) {

        let line_number = Object.values(markers).findIndex(v => {

          return v.start <= line.from && line.from < v.end
        });

        if (breakpoints.data.has(line_number)) {
           breakpoints.data.delete(line_number)
        } else {
          breakpoints.data.add(line_number)
        }


        toggleBreakpoint(view, line.from)
        return true
      }
    }
  }),
  EditorView.baseTheme({
    ".cm-breakpoint-gutter .cm-gutterElement": {
      color: "red",
      paddingLeft: "0px",
      cursor: "pointer"
    }
  })
]

const extensions = [StreamLanguage.define(gasArm), githubLight, basicSetup, markField, breakpointGutter]

listen("process-execution", raw_event => guard(props.pid, raw_event, execution_pointer => {

  let line = execution_pointer + 1;

  let marker = markers[line];

  if(previous_marker !== null) {
    removeMarks(previous_marker.start, previous_marker.end)
  }

  view.value.dispatch({
    effects: addMarks.of([strikeMark.range(marker.start, marker.end)])
  })

  previous_marker = {... marker}

}))

watch( breakpoints, (brk) => {
  console.log(brk.data)
  invoke("update_breakpoints", {pid: parseInt(props.pid), breakpoints: Array.from(brk.data)})
});

</script>

<template>
  <div>
    <codemirror
        v-model="code"
        placeholder="Code goes here..."
        :style="{ height: '100%' }"
        :autofocus="true"
        :indent-with-tab="true"
        :tab-size="2"
        :extensions="extensions"
        :disabled="true"
        @ready="handleReady"
    />
  </div>
</template>

<style>
.active-line { background: #e8bd42; }
</style>