<script setup>
import { listen } from "@tauri-apps/api/event";
import { ref } from "vue";
import {invoke} from "@tauri-apps/api/tauri";
import {current_pid} from "../lib/state.js";

let tick = ref(0);
let frequency = ref(1);


listen("tick", event => {
  //console.log(event.payload);
  tick.value = event.payload.tick
})



async function onFrequencyChange(event) {
  // Learn more about Tauri commands at https://tauri.app/v1/guides/features/command
  await invoke("set_frequency", {frequency: parseInt(event.target.value)});
}

async function resume() {
  await invoke("resume", {});
}

async function pause() {
  await invoke("pause", {});
}

async function step() {

}

async function stop() {

}

</script>

<template>
  <div class="control-container">

    <div class="pid-container">
      <div>current pid: {{current_pid}}</div>
    </div>

    <div class="execution-container">
      <button @click="resume">▶</button>
      <button @click="pause">⏸</button>
      <button @click="step">⏯</button>
      <button @click="stop">⏹</button>
    </div>

    <div class="right-container">
      <div class="frequency-container">
        <div class="frequency-text">frequency:&nbsp;</div>
          <select v-model="frequency" @change="onFrequencyChange">
            <option selected value="1">1Hz</option>
            <option value="10">10Hz</option>
            <option value="100">100Hz</option>
            <option value="1000">1KHz</option>
            <option value="1000000">1MHz</option>
          </select>
      </div>
      <div class="tick-container">tick: {{ tick }}</div>
    </div>
  </div>
</template>

<style scoped>
  .control-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

  }

  .pid-container {
    padding: 10px;
  }

  .execution-container {
    grid-column-start: 2;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 250px;
  }

  .right-container {
    display: flex;
    margin-left: auto;
  }

  .frequency-container {
    display: flex;
  }

  .frequency-text {
    line-height: 2em;
  }

  .tick-container {
    margin-left: 10px;
    padding: 2px;
    line-height: 2em;
  }

  .execution-container button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

</style>