<script setup>

import {listen} from "@tauri-apps/api/event";
import {computed, ref} from "vue";
import {sortObject} from "../lib/utils.js";

let registers = ref({})
let data = ref({})

const orderedRegisters = computed(() => sortObject(registers.value))
const orderedData = computed(() => sortObject(data.value))

listen("disk-drive_register-update", event => {
  registers.value = {...registers.value, [event.payload.register] : event.payload.value }
})

listen("disk-drive_write-data", event => {
  data.value = {...data.value, [event.payload.address] : event.payload.data }
})

</script>

<template>
  <div>

    <p>Disk Drive</p>

    <div class="container-registers">

      Registers:
      <ul>
        <li v-for="(value, register) in orderedRegisters">{{register}} : {{value}}</li>
      </ul>

      Data:
      <ul>
        <li v-for="(value, address) in orderedData">@{{address}} => {{value}}</li>
      </ul>

    </div>

  </div>


</template>

<style scoped>
  .container-registers {
    padding: 10px;
    margin-left: 10px;
  }
</style>