<script setup>


import { ref } from "vue";
import { invoke } from "@tauri-apps/api/tauri";
import {listen} from "@tauri-apps/api/event";

const greetMsg = ref("");
const name = ref("");
let test = ref(0)

listen("toot", _event => {
  console.log("test", test.value)
  test.value ++
})

listen("event", event => {
  console.log(event.payload)
})

async function greet() {
  // Learn more about Tauri commands at https://tauri.app/v1/guides/features/command
  greetMsg.value = await invoke("bye", { name: name.value });
}

</script>


<template>
  <form class="row" @submit.prevent="greet">
    <input type="text" v-model="test">
    <input id="greet-input" v-model="name" placeholder="Enter a name..." />
    <button type="submit">Greet</button>
  </form>

  <p>{{ greetMsg }}</p>
</template>
