<script setup>

import {computed, ref, watch} from "vue";

const props = defineProps({
  blockId: Number,
  size: Number,
  state: Boolean,
  addresses : Array,
  my_pid: Number
})

let addressesData = ref(props.addresses)
let opened = ref(true)

watch(() => props.addresses, new_data => {
  addressesData.value = new_data
})

const toggleOpen = () => {
  opened.value = !opened.value
}

const stringState = (data) => {
  return data ? "used" : "free"
}

const showDetailsButton = computed(() => opened.value ? '▷' : '▽')

</script>

<template>
  <div class="heap-block-container">
    <div class="heap-block">
      <div>Block {{blockId}} : </div>
      <div>size : {{size}}</div>
      <div>state : {{ stringState(state) }}</div>
      <div class="heap-display-addresses" @click="toggleOpen">{{ showDetailsButton }}</div>
    </div>
    <div class="heap-details" v-show="opened">
      <div v-for="address in addressesData" class="heap-details-address">
        Address {{address.address}} => {{address.data}}
<!--        <span class="heap-updater">🔄</span>-->
      </div>
    </div>
  </div>
</template>

<style scoped>
  .heap-block-container {
    padding: 10px;
  }

  .heap-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
  }

  .heap-display-addresses {
    cursor: pointer;
  }

  .heap-details {
    padding: 10px;
    margin-left: 20px;
  }

  .heap-details-address {
    padding-top: 7px;
  }
</style>