<template>
  <div>

  <div class="control-process">
    <button type="button" @click="kill">Kill</button>
    <button type="button" @click="restart">Restart</button>
  </div>

  <div class="container-process">


    <div class="container-code-execution">
      <CodeEditor
        :code="code"
        :markers="markers"
        :pid="pid"
      />
    </div>

    <div class="container-virtual-memory">

      Heap:
<!--      <span class="heap-updater" @click="fetchHeap">🔄</span>-->
      <div class="heap-blocks">
        <HeapBlock
            :key="data.id"
            :block-id="data.id"
            :size="data.size"
            :state="data.state"
            :addresses="data.addresses"
            :my_pid="my_pid"
            v-for="data in heap"></HeapBlock>
      </div>

      Stack:
      <ul>
        <li v-for="element in stack">{{element}}</li>
      </ul>

      Registers:
      <ul>
        <li v-for="(value, register) in orderedRegisters">{{register}} : {{value}}</li>
      </ul>

      Flags:
      <ul>
        <li v-for="(value, flag) in flags">{{flag}} : {{value}}</li>
      </ul>

      Virtual Memory:
      <ul>
        <li :key="section.section"  v-for="section in sections">
          <div>{{section.section}}</div>
          <ul v-for="block in section.blocks">{{block.virtual_address}} => {{block.physical_address}}</ul>
        </li>
      </ul>

    </div>

  </div>
  </div>
</template>

<script>
import {computed, defineComponent, ref, shallowRef} from 'vue'

import {listen} from "@tauri-apps/api/event";
import {guard, sortObject} from "../lib/utils.js";
import HeapBlock from "./HeapBlock.vue";
import {invoke} from "@tauri-apps/api/tauri";
import CodeEditor from "./CodeEditor.vue";

export default defineComponent({
  components: {
    CodeEditor,
    HeapBlock,
  },
  props:["code", "markers", "pid", "program_name"],

  setup(props) {

    // Codemirror EditorView instance ref
    const view = shallowRef()

    let stack = ref([])

    let heap = ref([
      // {id: 0, size: 4, state: true, adresses: [
      //     {address: 1, data: "00000000 00000000 00000000 00000000"},
      //     {address: 2, data: "00000001 00000000 00000000 00000000"},
      //     {address: 3, data: "00000000 00000000 00000000 00000000"},
      //     {address: 4, data: "00000000 00000000 00000000 00000000"},
      //   ],
      // },
      // {id: 1, size: 2, state: true, adresses: [
      //     {address: 6, data: "00000000 00000000 00000000 00000000"},
      //     {address: 7, data: "00000001 00000000 00000000 00000000"},
      //   ],
      // },
      // {id: 2, size: 2, state: false, adresses: [
      //     {address: 9, data: "00000000 00000000 00000000 00000000"},
      //     {address: 10, data: "00000001 00000000 00000000 00000000"},
      //   ],
      // }
    ]);

    let virtual_memory = ref({});

    const my_pid = parseInt(props.pid);

    let registers = ref({})
    let flags = ref({Z: 0, N: 0})
    const orderedRegisters = computed(() => sortObject(registers.value));


    listen("stack-push", raw_event => guard(my_pid, raw_event, pushed_value => {

      stack.value.push(pushed_value)
    }))

    listen("stack-pop", raw_event => guard(my_pid, raw_event, () => {
      stack.value.pop()
    }))

    listen("stack-update", raw_event => guard(my_pid, raw_event, event => {
      stack.value.splice(event.index, 1, event.value)
    }))

    listen("register", raw_event => guard(my_pid, raw_event, event => {

      registers.value = {...registers.value, [event.register]: event.value}

    }))

    listen("update-flags", raw_event => guard(my_pid, raw_event, event => {
        flags.value.N = event.negative ? 1 : 0;
        flags.value.Z = event.zero ? 1 : 0;
    }))

    listen("mmu-reserve", raw_event => guard(my_pid, raw_event, reserve_event => {

      let {section, blocks} = reserve_event;
      // console.log(reserve_event)

      if (!virtual_memory.value.hasOwnProperty(section)) {
        virtual_memory.value = {...virtual_memory.value, [section]: []}
      }

      virtual_memory.value = {...virtual_memory.value, [section]: [...virtual_memory.value[section], ...blocks]}
    }))

    listen("mmu-update-sections", raw_event => guard(my_pid, raw_event, update_event => {
      let {sections} = update_event;
      virtual_memory.value = {...virtual_memory.value, ...sections}
    }))

    listen("heap-update", raw_event => guard(my_pid, raw_event, (data) => {
      console.log(data);
      heap.value = data.blocks
      Object.assign(heap.value, data.blocks)
      console.log(heap.value)
    }))

    const fetchHeap = async () => {
      await invoke("get_heap_content", {pid: my_pid})
    }


    const handleReady = (payload) => {

      view.value = payload.view

    }

    const stringState = (data) => {
      return data ? "used" : "free"
    }

    const sections = computed(() => {

      const set_or_not = (name, data) => {

        if (virtual_memory.value.hasOwnProperty(name)) {
          data.push({
            section: name, blocks: virtual_memory.value[name]
          })
        }

      }

      let data = [];

      set_or_not("stack", data);
      set_or_not("heap", data);
      set_or_not("code", data);

      return data
    })

    const kill =  () => {
       invoke("stop", {pid: my_pid})
    }

    const restart =  () => {
       invoke("restart", {name: props.program_name})
    }

    return {
      flags,
      orderedRegisters,
      stack,
      virtual_memory,
      handleReady,
      sections,
      heap,
      stringState,
      fetchHeap,
      my_pid,
      restart,
      kill
    }
  }
})
</script>

<style>
  .active-line { background: #e8bd42; }
  .container-process {
    display: flex;
    justify-content: space-around;
  }

  .container-code-execution {
    width: 50%;
  }

  .container-virtual-memory {
    width: 100%;
    padding: 10px;
  }

  .heap-updater {
    cursor: pointer;
  }

  .control-process {
    display: flex;
    justify-content: space-evenly;
    width: 10%;
    padding-bottom: 10px;
  }
</style>