<script setup>
import {Tabs, Tab} from 'vue3-tabs-component';
import {ref, watch} from "vue";
import {listen} from "@tauri-apps/api/event";
import Process from "./Process.vue";
import {current_pid} from "../lib/state.js";
import DiskDrive from "./DiskDrive.vue";
import ProgramEditor from "./ProgramEditor.vue";

let processes = ref({})
const testTabs = ref(null)

listen("process-add", raw_event => {

  let {pid, event} = raw_event.payload

  console.log(event)

  processes.value = {...processes.value,  [pid]: {
      lines: event.lines.join("\n"),
      markers: event.markers,
      name: event.program_identifier
  }}

})

listen("process-killed", raw_event => {
  let {pid} = raw_event.payload

  console.log(`PID ${pid} killed`)

  delete processes.value[pid]
})

watch(current_pid, (new_pid) => {
  testTabs.value.selectTab(`#${new_pid}`)
})

</script>

<template>
  <div class="container-wrapper">
    <tabs ref="testTabs" class>
      <tab id="controls" name="control">
        <ProgramEditor></ProgramEditor>
      </tab>
      <tab :id="pid" :key="pid"  v-for="(process, pid) in processes" :name="`Pid ${pid}`">
        <Process :program_name="process.name" :pid="pid" :code="process.lines" :markers="process.markers"></Process>
      </tab>
    </tabs>
    <DiskDrive class="container-dd"></DiskDrive>
  </div>
</template>

<style >

.container-wrapper {
  display: flex;
}

.processes-container {
  width: 50%;
}

.container-dd {
  width: 20%;
  padding: 10px;
  margin-left: 10px;
}

.tabs-component {
  margin: 4em 0;
  width: 80%;
}

.tabs-component-tabs {
  border: solid 1px #ddd;
  border-radius: 6px;
  margin-bottom: 5px;
}

@media (min-width: 700px) {
  .tabs-component-tabs {
    border: 0;
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1px;
  }
}

.tabs-component-tab, .tabs-component-tab--custom {
  color: #999;
  font-size: 14px;
  font-weight: 600;
  margin-right: 0;
  list-style: none;
}

.tabs-component-tab:not(:last-child) {
  border-bottom: dotted 1px #ddd;
}

.tabs-component-tab:hover {
  color: #666;
}

.tabs-component-tab.is-active {
  color: #000;
}

.tabs-component-tab.is-disabled *, .tabs-component-tab--custom.is-disabled * {
  color: #cdcdcd;
  cursor: not-allowed !important;
}

@media (min-width: 700px) {
  .tabs-component-tab, .tabs-component-tab--custom {
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 3px 3px 0 0;
    margin-right: .5em;
    transform: translateY(2px);
    transition: transform .3s ease;
  }

  .tabs-component-tab.is-active, .tabs-component-tab--custom.is-active {
    border-bottom: solid 1px #fff;
    z-index: 2;
    transform: translateY(0);
  }
}

.tabs-component-tab-a, .tabs-component-tab-a--custom {
  align-items: center;
  color: inherit;
  display: flex;
  padding: .75em 1em;
  text-decoration: none;
}

.tabs-component-panels {
  padding: 4em 0;
}

@media (min-width: 700px) {
  .tabs-component-panels {
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 0 6px 6px 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    padding: 4em 2em;
  }
}

.tabs-component-btn {
  cursor: pointer;
  background: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  padding: 4px 8px;
  color: #39739d;
}

.tabs-component-btn:hover {
  background-color: #b3d3ea;
  color: #2c5777;
}

.tabs-component-btn:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.tabs-component-tab--custom {
  border-color: #e1ecf4;
  color: #68838d;
}

.tabs-component-tab--custom:hover {
  border-color: #e1ecf4;
  color: #39739d;
}

.tabs-component-tab--custom.is-active {
  color: #39739d;
  border-color: #7aa7c7;
  border-bottom: solid 1px #fff;
}
</style>