<script setup>

import {ref, watch, computed} from "vue";
import { Codemirror } from 'vue-codemirror'
import {StreamLanguage} from "@codemirror/language";
import {gasArm} from "@codemirror/legacy-modes/mode/gas";
import {githubLight} from "@ddietr/codemirror-themes/github-light.js";
import {basicSetup} from "codemirror";
import {invoke} from "@tauri-apps/api/tauri";
import {listen} from "@tauri-apps/api/event";

import {sortPrograms} from "../lib/utils.js";


const props = defineProps({
  code: String,
  pid: String,
  program_name: String,
  programs: Array,
  selected_program: Array,
  selected_program_uuid: String,
  markers: Object
})

let code = ref(props.code);
let program_name = ref(props.program_name);
let selected_program = ref(props.selected_program);
let selected_program_uuid = ref(props.selected_program_uuid);
let programs = ref(props.programs)

const orderedPrograms = computed(() => sortPrograms(programs.value));


code.value = ``

programs.value = {}


const extensions = [StreamLanguage.define(gasArm), githubLight, basicSetup]

async function run () {
  console.log(`Program ${program_name.value}`)
  await invoke("run_program", {uuid: selected_program_uuid.value});
}

async function update () {
  await invoke("update_program", {uuid: selected_program_uuid.value, sources: code.value});
}

listen("programs-init", event => {
  console.log(event)
  programs.value = event.payload
})

watch(selected_program, async (new_program_name) => {
  const program_uuid = new_program_name[0]
  code.value = programs.value[program_uuid].source
  selected_program_uuid.value = program_uuid
})

</script>

<template>
  <div>

    <div class="control-editor">
      <button type="button" @click="run">Run</button>
      <button type="button" @click="update">Update</button>
      <div class="container-program-name">
        <label for="program-name">Programme Name</label>
        <input type="text" id="program-name" v-model="program_name"/>
      </div>
    </div>

    <div class="container-main">
      <div class="program-editor">
        <codemirror
            v-model="code"
            placeholder="Code goes here..."
            :style="{ height: '100%' }"
            :autofocus="true"
            :indent-with-tab="true"
            :tab-size="2"
            :disabled="false"
            :extensions="extensions"
        />
      </div>

      <select multiple class="program-selector" v-model="selected_program" size="1">
        <option v-for="[uuid, data] of orderedPrograms" :value="uuid" :key="uuid">{{data.name}}</option>
      </select>
    </div>
  </div>
</template>

<style scoped>

  .container-program-name {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 10px;
    width: 27%;
  }

  .control-editor {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-bottom: 10px;
  }

  .container-main {
    display: flex;
    flex-direction: row;
  }

  .program-editor {
    width: 70%;
  }

  .program-selector {
    width: 30%;
    height: 70vh;
  }


</style>