<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import Greet from "./components/Greet.vue";
import Controls from "./components/Controls.vue"
import Processes from "./components/Processes.vue";
</script>

<template>
<!--  <div class="container">-->
  <div>
    <Controls/>
    <Processes/>
  </div>
<!--    <Greet />-->
<!--  </div>-->
</template>

<style scoped>

</style>
